 .form-label {
    font-weight: bold;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .form-control {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.btn-config-primary {
  text-align: center;  /* Centraliza o texto horizontalmente */
  padding: 10px 20px;  /* Ajusta o espaçamento interno do botão */
  display: inline-block;
  background-color: #009F9F;
  border: 1px solid #fff;
  transition: background-color .5s;
}
.btn-config-primary:hover {
  background-color: #fff;
  color: #009F9F;
}



  