body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

.d-flex {
display: flex;
flex-direction: row;
}

header {
  background-color: #009F9F;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

header .logo img {
  width: 50px;
}

header .search-bar form {
  display: flex;
  align-items: center;  /* aqui */
}

header .search-bar input {
  width: 200px;
}

header .search-bar button {  
  margin-bottom: 15px;  /* aqui */
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  padding: 20px;
  position: fixed;
  top:80px;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
  transform: translateX(0);
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.sidebar.hide {
  transform: translateX(-100%);
}

.sidebar .nav-link {
  color: #fff;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.sidebar .nav-link:hover {
  background-color: #495057;
}

.sidebar .nav-link.active {
  background-color: #009F9F;
}

.content {
  flex: 1;
  margin-left: 0;
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-top: 80px; 
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 80px);
}

.sidebar.show ~ .content {
  margin-left: 250px;
}

.carousel-item img {
  max-height: 400px;
  object-fit: cover;
}

footer {
  background-color: #343a40;
  color: white;
}

#toggleButton .fa-bars {
  filter: brightness(0) invert(1);
  width: 20px; height: 20px;
  transform: scale(1.3); 
}

#toggleButton:hover .fa-bars {
  filter: brightness(1) invert(0);
}

#toggleButton {
  color: #f8f9fa; 
  background-color: transparent; 
  padding: 13px;
  margin: 10px;
}

#toggleButton:hover {
  background-color: #f8f9fa; 
  color: #212529; 

}

.texto-div {
  display: flex;             
  align-items: center;        
  gap: 20px;               
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;        
  margin: 0 auto;
}

.texto1 {
  font-family: Arial, sans-serif;
  font-size: 18px;              
  font-weight: bold;         
  color: #333;
  line-height: 1.5;
  flex: 1;                      
  min-width: 300px;          
}

.texto2 {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  flex: 1;                    
  min-width: 300px;             
}
